<div class="content_p login android-content mdl-layout__content">
  <!-- Contenido -->
		<div class="mdl-card mdl-shadow--4dp">
			<div class="mdl-card__title mdl-color-text--white mdl-color--primary-mf">
				<h2 class="mdl-card__title-text">Iniciar Sesión</h2>
			</div>
	  	<div class="mdl-card__supporting-text">
				<form action="#">
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" id="username" />
						<label class="mdl-textfield__label" for="username">Username</label>
					</div>
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="password" id="userpass" />
						<label class="mdl-textfield__label" for="userpass">Password</label>
					</div>
				</form>
			</div>
			<div class="mdl-card__actions">
				<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Acceder</button>
			</div>
		</div>
</div>
