<div  class="content_p android-content mdl-layout__content">
  <!-- Contenido -->
  <%= button_to "Cerrar Sesion",logout_path,:method => "delete" %>
  <%= link_to "Cerrar Sesion", logout_path, method: :delete %>
  <h1>Menus#index</h1>
  <p>Find me in app/views/menus/index.html.erb</p>
  <h1>ACA MENU PRINCIPAL</h1>

</div>

