<div  class="content_p android-content mdl-layout__content">
  <!-- Contenido -->

  <%= button_to "Cerrar Sesion",logout_path,:method => "delete" %>
  <%= link_to "Cerrar Sesion", logout_path, method: :delete %>

  <h1>Login exitoso!</h1>
  

</div>

