<%= form_with(model: noticias, local: true) do |form| %>
  <% if noticias.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(noticias.errors.count, "error") %> prohibited this noticias from being saved:</h2>

      <ul>
      <% noticias.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
