<script>
  $(document).ready(function(){
    // Activate Carousel
    $("#myCarousel").carousel();


  });
</script>


<div class="android-screen-section mdl-typography--text-center grip-nostros">
  <a name="nosotros"></a>
  <div class="mdl-typography--display-1-color-contrast titulo-noticias">Entérate del beta</div>

  <h1>SECCION DE NOSOTROS</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="Carousel" class="carousel slide">

        <ol class="carousel-indicators">
          <li data-target="#Carousel" data-slide-to="0" class="active"></li>
          <li data-target="#Carousel" data-slide-to="1"></li>
          <li data-target="#Carousel" data-slide-to="2"></li>
        </ol>

        <!-- Carousel items -->
        <div class="carousel-inner">

          <div class="item active">
            <div class="row">
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
            </div><!--.row-->
          </div><!--.item-->

          <div class="item">
            <div class="row">
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
            </div><!--.row-->
          </div><!--.item-->

          <div class="item">
            <div class="row">
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
              <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
            </div><!--.row-->
          </div><!--.item-->

        </div><!--.carousel-inner-->
        <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
        <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
      </div><!--.Carousel-->

    </div>
  </div>
</div><!--.container-->

</div>


<div class="android-customized-section">
  <div class="android-customized-section-text">
    <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Customised by you, for you</div>
    <p class="mdl-typography--font-light">
      Put the stuff that you care about right on your home screen: the latest news, the weather or a stream of your recent photos.
      <br>
      <a href="" class="android-link mdl-typography--font-light">Customise your phone</a>
    </p>
  </div>
  <div class="android-customized-section-image"></div>
</div>