<div class="android-screen-section mdl-typography--text-center grip-nostros">
  <a name="nosotros"></a>
  <div class="mdl-typography--display-1-color-contrast titulo-noticias">¿Quiénes somos?</div>
  <div class="cont-nosotros">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col organigrama">
        <a class="example-image-link" href="assets/organigramaBI.png" data-lightbox="example-1"><img class="example-image" src="assets/organigramaBI.png" alt="image-1" /></a>
      </div>
      <div class="mdl-cell mdl-cell--6-col cont-us">
        <div class="mdl-grid g-1">
          <div class="mdl-cell mdl-cell--4-col nosotros-icon">
            <i class="material-icons">group</i>
          </div>
          <div class="mdl-cell mdl-cell--8-col nosotros-desc">
            <h4 class="h4-pb">Nuestro Equipo</h4>
            <p>Innovación ... Proactivos ... Creativos ... Retadores</p>
          </div>
        </div>
        <div class="mdl-grid g-2">
          <div class="mdl-cell mdl-cell--8-col objetivo-desc">
            <h4 class="h4-pb">Misión</h4>
            <p>Transformar los datos en información, y la información en conocimiento para la toma de decisiones de negocio, mediante herramientas de data mining avanzado, modelaje estadístico, analítica avanzada, investigación de mercado, calidad del dato.</p>
          </div>
          <div class="mdl-cell mdl-cell--4-col objetivo-icon">
            <i class="material-icons">group</i>
          </div>
        </div>
        <div class="mdl-grid g-3">
          <div class="mdl-cell mdl-cell--4-col soluciones-icon">
            <i class="material-icons">group</i>
          </div>
          <div class="mdl-cell mdl-cell--8-col soluciones-desc">
            <h4 class="h4-pb">Visión</h4>
            <p>Ser reconocidos en la empresa como el área de analítica líder, vanguardista, diferenciadora y  de mayor transversalidad.</p>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>


<div class="android-customized-section">
  <div class="android-customized-section-text">
    <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">ELEGIMOS TODO_</div>
  </div>
  <div class="android-customized-section-image"></div>
</div>
