<div class="android-screen-section mdl-typography--text-center grip-noticias">
  <a name="noticias"></a>
  <div class="mdl-typography--display-1-color-contrast titulo-noticias">Entérate del beta</div>

  <% publicaciones = Publicacion.last(2) %>
  <div class=" mdl-grid">
      <% publicaciones.each do |publicacion| %>
            <div class="mdl-cell mdl-cell--6-col">
              <div class="demo-card-wide mdl-card mdl-shadow--4dp mdl-card-kpis mdl-card-noticias">
                <div class="mdl-card__title mdl-card__title-kpi">
                  <%= image_tag(publicacion.imagen_url.to_s) %>
                </div>
                <div class="mdl-card__supporting-text">
                  <h3 class="mdl-card__title-text"><span><%= publicacion.titulo %></span></h3>
                  <br>
                  <p>
                    <%= publicacion.descripcion %>
                  </p>
                </div>
              </div>
            </div>
      <% end %>
  </div>

</div>

