<!-- aqui -->
<div class="mdl-layout mdl-js-layout">
<!-- Contenido -->
  <div class="android-content mdl-layout__content">
    <div class="android-be-together-section mdl-typography--text-center">
      <div class="home_slider">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active item-home">
              <img src="assets/slider_home_5.jpg" alt="Los Angeles" style="width:100%;">
              <div class="carousel-caption">
                <h1>Portal de Mercadeo</h1>
                <p>Bienvenidos al portal de Mercadeo</p>
              </div>
            </div>

            <div class="item item-home">
              <img src="assets/slide3.jpg" alt="Los Angeles" style="width:100%;">
              <div class="carousel-caption">
                <h1>Mineria</h1>
                <p>Realice seguimiento a sus casos de Mineria</p>
              </div>
            </div>

            <div class="item item-home">
              <img src="assets//slide2.jpg" alt="Los Angeles" style="width:100%;">
              <div class="carousel-caption">
                <h1>Noticias y más</h1>
                <p></p>
              </div>
            </div>

            <div class="item item-home">
              <img src="assets/slider_home_4.jpg" alt="Los Angeles" style="width:100%;">
              <div class="carousel-caption">
                <h1>Gestión de los indicadores del Área</h1>
                <p>Obtenga una visión de como esta el negocio a través de indicadores</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <!-- Lista de las noticias a mostrar en el portal  -->
    <%= render 'noticias' %>
    <!-- Lista de los proyectos a mostrar en el portal  -->
    <%= render 'proyectos' %>
    <!-- Nosotros  -->
    <%= render 'nosotros' %>

  </div>
</div>
