<!-- aqui -->
<div class="mdl-layout mdl-js-layout">
<!-- Contenido -->
  <div class="android-content mdl-layout__content">
    <div class="android-be-together-section mdl-typography--text-center">
      <div class="logo-font android-slogan">Texto Principal</div>
      <div class="logo-font android-sub-slogan">Que colocar aca? Sliders? o asi como esta una imagen de fondo y ya... </div>
      <div class="logo-font android-create-character">
        <a href=""><img src="assets/andy.png"> create your android character</a>
      </div>

      <a href="#noticias">
        <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect btn-noticias">
          <i class="material-icons">expand_more</i>
        </button>
      </a>
    </div>

    <!-- Lista de las noticias a mostrar en el portal  -->
    <%= render 'noticias' %>
    <!-- Lista de los proyectos a mostrar en el portal  -->
    <%= render 'proyectos' %>
    <!-- Nosotros  -->
    <%= render 'nosotros' %>

  </div>
</div>
