<div class="content_p android-content mdl-layout__content kpi-k">
  <div class="contenido-in contenido-kpis kpis-show mdl-shadow--16dp">
    <p>
      <strong>Descripcion:</strong>
      <%= @kpi.descripcion %>
    </p>

    <div class="dash_kpi">
      <iframe src="http://10.160.41.4:5601/app/kibana#/dashboard/99bad430-5fef-11e7-bc35-75dcd1555386?embed=true&_g=()"></iframe>
    </div>


    <%= link_to 'Edit', edit_kpi_path(@kpi) %> |
    <%= link_to 'Back', kpis_path %>



  </div>
</div>

