<div class="content_p android-content mdl-layout__content kpi-k">
  <div class="contenido-in contenido-kpis kpis-show mdl-shadow--16dp">
    <p>
      <strong>Descripcion:</strong>
      <%= @kpi.descripcion %>
    </p>

    <div class="dash_kpi">
      <iframe src="http://localhost:5601/app/kibana#/dashboard/fa3b2cd0-5138-11e7-ba68-6b8bc8219ec4?embed=true&_g=()"></iframe>
    </div>


    <%= link_to 'Edit', edit_kpi_path(@kpi) %> |
    <%= link_to 'Back', kpis_path %>



  </div>
</div>

