<div class="content_p android-content mdl-layout__content kpi-k">
  <div class="show-kpi-print">
    <span class="mdl-chip mdl-chip--deletable">
      <span class="mdl-chip__text">Exportar a PDF</span>
      <a target="_blank" href ="/kpis/<%=@kpi.id%>.pdf" type="button" class="mdl-chip__action"><i class="material-icons">print</i></a>
    </span>
  </div>
  <div class="contenido-in contenido-kpis kpis-show mdl-shadow--16dp">

    <%= render 'filtros' %>

    <div class="dash_kpi">
      <%= @kpi.dashboard.html_safe %>
    </div>
  </div>
</div>
<% if admin? or admin_ind? %>
    <a href="/kapis/new" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Agregar KPI</a>
    <a href="/kpis" id="btn-back" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"><i class="material-icons">chevron_left</i>Regresar</a>
    <%= link_to  edit_kpi_path(@kpi), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect",id: "btn-edit" do%>
        <i class="material-icons">edit</i>
        Editar
    <% end %>
<% end %>

