
<div class="content_p android-content mdl-layout__content">
  <div class="contenido-in contenido-kpis"><p id="notice"><%= notice %></p>

    <%= link_to 'Edit', edit_noticia_path(@noticia) %> |
    <%= link_to 'Back', noticia_path %>
  </div>
</div>