<div class="choiceForm">
     <%= label_tag "Campo" %>
     <br>
     <%= text_field_tag "campos[]" %> <a href="javascript:;" onclick="remove(this);" style="text-decoration: none;" > x </a>
     <br>
</div>