<!-- aqui -->
<div class="mdl-layout mdl-js-layout">
<!-- Contenido -->
  <div class="android-content mdl-layout__content">
    <div class="android-be-together-section mdl-typography--text-center">
      <% if session[:usuario_tipo] == "Admin" %>
        <div class="logo-font android-slogan">Pagina Admin</div>
      <%  elsif session[:usuario_tipo] == "Infosoft-Admin" %>
        <div class="logo-font android-slogan">Pagina Consultor lider</div>
      <%  elsif session[:usuario_tipo] == "cliente" %>
        <div class="logo-font android-slogan">Pagina Cliente</div>
      <% else %>
        <div class="logo-font android-slogan">Pagina Consultor</div>
      <% end %>
      
      <div class="logo-font android-create-character">
        <a href=""><img src="assets/andy.png"> create your android character</a>
      </div>

      <a href="#screens">
        <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
          <i class="material-icons">expand_more</i>
        </button>
      </a>
    </div>
    
    

  </div>
</div>
<a href="https://github.com/google/material-design-lite/blob/mdl-1.x/templates/android-dot-com/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>
