<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div class="content_p android-content mdl-layout__content">

<p>
  <strong>Title:</strong>
  <%= @usuario.usuario %><br>
  <%= @usuario.id %>
</p>


<%= link_to 'Back', usuarios_path %>

  </div>